.profile__edit-button {
  border: 0;
  margin-top: 8px;
  /* margin-left: 18px; */
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url(../../../images/Edit_Button.png);
  background-repeat: no-repeat;
  align-self: center;
  /* background-color: red; */
}
