.cards__like-button-icon {
  padding: 0;
  border-style: none;
  width: 22px;
  height: 19px;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url(../../../images/like.svg);
}
